* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  padding: 100px 20px 0 20px;
  background: linear-gradient(to right, rgb(203, 162, 162), rgb(124, 244, 244));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin: 0 0 13px 0;
    font-family: Candara;
}
.df {
  display: flex;
  gap: 10px;
}
.t-center {
  text-align: center;
}
.m-top-15 {
  margin-top: 15px;
}
.to-do-list-box {
  /* border: 1px solid #000; */
  padding: 10px;
  width: 100%;
}
input[type="text"] {
  border: 1px solid #444;
  background-color: whitesmoke;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  font-size: 17px;
  margin-bottom: 10px;
}
input[type="text"]:focus {
  border: 1px solid red;
}
input[type="submit"] {
  font-size: 19px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  height: 40px;
}
#add-btn {
  padding: 9px;
  color: #fefefe;
  background-color: #11ce6f;
}
#add-btn:hover {
  opacity: 0.7;
}
#clear-btn {
  margin-top: 40px;
  padding: 7px;
  background-color: crimson;
  color: #fff;
}
.list-item {
  padding: 7px;
  list-style-type: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .1s;
}
.list-item:hover {
  background-color: rgb(179, 201, 201);
}
.done{
  text-decoration: line-through;
  color: rgb(63, 62, 62);
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 12px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
